
body {
    background-color: #EAD3A9;
    background-size: cover;
}


h1 {text-align: center;
color: #B22C2D ;
font-weight: bold;
font-size: 48px;
}
img{
    width: 350px;
    height: 350px;
}

img {
    border-radius: 3%;
  }



/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 360px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
     /* Black */
    
    background-image: url(../imagess/sidee.JPG);
    background-size: cover;
    background-color: #111;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #EAD3A9;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Style page content */
  .main {
    margin-left: 360px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    font-family: Arial, Helvetica, sans-serif;
 
  }

  #Recipes a {
    font-size: 32px;
    font-weight: bold;
  }
  #Equipment a{
    font-size:32px;
    font-weight: bold;

  }
  li{
    margin: 20px ;
  }
  
 .button {
    background-color:#B22C2D;
    size: 60px;
    color:#ffffff;
    border: none;
    text-align: center;
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 20px;
    position:absolute;
    bottom: 35px;
    left: 110px;
    font-weight: bold;
 }

hr{
    border: 1px solid black;

}